.header {
  margin-top: -2vw;
  height: 100px;
  padding: 2vw;
  border: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .header {
    height: 20vw;
    text-align: center;
  }
}
@media only screen and (max-width: 200px) {
  .header {
    height: 40vw;
    text-align: center;
  }
}

.blog-name {
  color: gray;
}
