.post {
  padding: 50px;
  width: 600px;
  margin: 1.3vw auto;
  border: 0px solid aqua;
  border-radius: 1vw;
  box-shadow: 0px 7px 1vw black;
}
@media only screen and (max-width: 700px) {
  .post {
    padding: 20px;
    width: 85%;
    margin: 2.5vw 3vw;
  }
}

.postHead {
  text-decoration: underline;
  text-decoration-color: gray;
  text-decoration-thickness: 2.5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #02d1d1;
  text-align: center;
}
.postHead:hover {
  text-decoration-color: #02d1d1;
}

.content {
  color: white;
}
/* visited link */
.links {
  text-decoration: none;
  color: gray;
}
.links:visited {
  color: #02d1d1;
}

.links:hover {
  text-decoration-color: #02d1d1;
}

.links:active {
  color: white;
}
/* --*/

.ifra {
  width: 100%;
  height: 80vh;
  border: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .ifra {
    height: 60vh;
  }
}

/*
*/
.alink {
  color: #02d1d1;
}
